# datasets
data/
*.zip

# trained models
models/
*.pth
*.h5

# notebooks cache
.ipynb_checkpoints/

# system files
.DS_Store

# python environment files
__pycache__/
*.pyc
venv/
.venv/
test_data.py
verify_model.py
notes
